body {
    background: url('https://i.imgur.com/Eor57Ae.jpg') no-repeat fixed center center;
    background-size: cover;
    font-family: 'Fredoka One', cursive !important;
    color: #fff !important;
}
html {
  max-width: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
.container {
  border:5px pink solid;
}
#account-details{
  border: 5px black solid;
}
#user-email {
  border: 5px black solid;
}
#user-photo {
  border: 5px black solid;
}
/*.rounded {
  -webkit-clip-path: circle(75px at 50% 50%);
  clip-path: circle(75px at 50% 50%);
  border: none!important;
}*/
