body {
    background: url('https://i.imgur.com/Eor57Ae.jpg') no-repeat fixed center center;
    background-size: cover;
    font-family: 'Fredoka One', cursive !important;
}
html {
  max-width: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
#account-details{
  color: #fff;
}
#account-details::before {
  content: "Welcome,"
  color: #fff;
}
